<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
</head>

<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center"  id="vpadding">
          <h1 class="font-weight-light" style="color:white">Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" style="background-color: #FF9D6F; border: 0px;" href="http://127.0.0.1:5000/scrape" role="button">Get Mars Data</a></p>
        </div>
      </div>
    </div>
  </header>
<body>
<!-- Mars News -->
<div class="container-fluid">
  <div class="row" style="background-color: #FFDDCD;">
    <div class="col-12" style="padding: 5%;">
      <h2>Latest  News:</h2>
      <h3>NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight</h3>
      <p>Headed to the Red Planet with the Perseverance rover, the pioneering helicopter is powered up for the first time in interplanetary space as part of a systems check.</p>
    </div>
    <div class="col-md-6 text-center">
    </div>
  </div>
</div>
<!-- Weather and Featured Image -->
<div class="container-fluid">
  <div class="row" style="background-color: #663926; color: white;">
    <div class="col-md-6" style="padding: 0%;">
      <img src="../resources/weather.png" class="img-fluid" style="max-width: 100%; height: 400px;">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <h2>Current Weather:</h2>
      <p>InSight sol 610 (2020-08-14) low -93.8ºC (-136.8ºF) high -16.8ºC (1.7ºF) winds from the W at 6.5 m/s (14.5 mph) gusting to 16.6 m/s (37.0 mph) pressure at 7.90 hPa</p>
    </div>
  </div>
</div>
<!-- Mars Facts -->
<div class="container-fluid">
  <div class="row" style="background-color: #FF9E76;">
    <div class="col-md-6" style="padding-left: 3%;">
      <h2>Mars Facts</h2>
      <img src="../resources/facts.png" class="img-fluid" style="max-width: 100%; height: 100px;">
    </div>
    <div class="col-md-6 text-center">
    </div>
  </div>
</div>
<!-- Hemispheres -->
<div class="container-fluid" style="background-color: #99857A;">
<div class="row">
  <h1 class="text-center">Hemispheres</h1>
  <br>
    <div class="col-12 text-center">
      <div class="card text-center" style="width: 32rem;">
        <img class="card-img-top text-center" id="scale_id" src="../resources/cerberus.png">
            <img class="card-img-top text-center" id="scale_id" src="../resources/schiaparelli.png">
              <img class="card-img-top text-center" id="scale_id" src="../resources/syrtis.png">
                <img class="card-img-top text-center" id="scale_id" src="../resources/valles.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</body>
</html>
